:root {
  /* Base Colors */
  --color-background: #231757;
  /* Deep black background */
  --color-primary: #2a2a2a;
  /* Bright cyan */
  --color-secondary: #ff2d55;
  /* Vibrant magenta-red */
  --color-accent: #23d18b;
  /* Neon green */
  --color-highlight: #00bcd5;
  /* Neon pink */
  --color-text-light: #e5e5e5;
  /* Soft light grey text */
  --color-text-dark: #2a2a2a;
  /* Darker grey text */
  --color-link-active: #ff2d55;
  /* Active link color */
  --color-border: #aded00;

  /* Header Colors */
  --header-background: var(--color-primary);
  --header-text-color: var(--color-text-dark);

  /* Navbar Colors */
  --navbar-background: var(--color-primary);
  --navbar-link-color: var(--color-text-light);
  --navbar-link-hover-color: var(--color-highlight);
  --navbar-link-active-color: var(--color-border);
  /* Active link color */

  /* Footer Colors */
  --footer-background: var(--color-background);
  --footer-text-color: var(--color-text-light);
  --footer-link-color: var(--color-primary);
  --footer-link-hover-color: var(--color-secondary);
  --footer-link-active-color: var(--color-link-active);
  /* Active link color */

  /* Button Colors */
  --button-primary-bg: linear-gradient(45deg, #14ffec, #23d18b);
  /* Gradient background */
  --button-primary-text: var(--color-background);
  --button-secondary-bg: linear-gradient(45deg, #ff2d55, #ff4dff);
  /* Gradient background */
  --button-secondary-text: var(--color-background);

  /* Font Family */
  --font-family-primary: 'Orbitron', sans-serif;
  /* Futuristic font */
  --font-family-secondary: 'Roboto', sans-serif;
  /* Clean and modern font */

  /* Font Sizes */
  --font-size-small: 0.875rem;
  /* Small text */
  --font-size-base: 1rem;
  /* Base font size */
  --font-size-large: 1.25rem;
  /* Larger text */
  --font-size-heading: 2rem;
  /* Heading text */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}