.productLink {
    text-decoration: none;
}

.productCard {
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--color-primary);
}

.productCard img {
    border-radius: 10px;
}